<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Clover the Poodle</title>
<!-- 

Timeless Template 

http://www.templatemo.com/tm-517-timeless

Is this showing up

-->
    <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "static/styles/templatemo-style.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <header class="text-center tm-site-header">
                    <h1 class="pl-4 tm-site-title">Clover the Poodle :D</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="lmao-custom">
                    <div class="poddle-pic">
                        <image src="static/img/img-clover1.png" class="tm-welcome-video">
                    </div>
                    <div class="poddle-pic"> 
                        <image src="static/img/img-clover2.png" class="tm-welcome-video">
                    </div>
                </div>

                <div class="lmao-custom">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSegn9SgsWXq2SJi8LExsPGzJzGkADfmOdnNMU3ad9IzUywpEg/viewform?embedded=true" width="640" height="474" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>
            </div>
        </div>
        <hr>
        <!-- Footer -->
        <footer class="row mt-5 mb-5">
            <div class="col-lg-12">
                <p class="text-center tm-text-gray tm-copyright-text mb-0">Copywright &copy;
                    <span class="tm-current-year">2020</span> Clover Preservation Group
                </p>
            </div>
        </footer>
    </div>
    <!-- .container -->


</body>
</html>